CherryPy==3.2.2
Flask==0.8
Jinja2==2.6
Markdown==2.1.1
MySQL-python==1.2.3
PIL==1.1.7
South==0.7.4
Werkzeug==0.8.3
Whoosh==2.3.2
argparse==1.2.1
django-debug-toolbar==0.9.4
django-haystack==1.2.7
haystack==0.15
html5lib==0.95
ipdb==0.6.1
ipython==0.12
lxml==2.3
matplotlib==1.1.0
numpy==1.6.1
py2exe==0.6.9
pycairo==1.8.10
pygame==1.9.1
pygobject==2.28.3
pygoocanvas==0.14.2
pygtk==2.24.0
pygtksourceview==2.10.1
pyodbc==3.0.2
pyreadline==2.0-dev1
pyrsvg==2.32.1
pyserial==2.5
python-openid==2.2.5
python-ptrace==0.6.4
pywin32==216
scipy==0.10.1
tornado==2.2.1
virtualenv==1.7.1.2
